html(ng-app = 'SevenUp')
    head
        link(rel='stylesheet', href='style.css')
        script(src='library.js')
        script(src='application.js')
    body
        .container
            div.row
                div.col-md-12
                    div.page-header
                        h1.text-center SevenUp v1.0
            div.row
                div.col-md-12
                    div(ng-view)
