html(ng-app = 'App')
    head
        script(src='../bower_components/angular/angular.js')
        script(src='../bower_components/angular-route/angular-route.js')

        script(src='SevenUp.js')
        link(rel='stylesheet', href='SevenUp.css')

    body
        .container
            div.row
                div.col-md-12
                    div.page-header
                        h1.text-center SevenUp v1.0
            div.row
                div(ng-view)
